form {
  background-color: #0B1E36;
  color: white;
  padding: 1vw 2vw 2vw 2vw;
  width: 45%;
  margin: auto;
  margin-top: 2vw;
  letter-spacing: .1vw;
  border-radius: 2%;
  box-shadow: 15px 15px 15px #A6A6A6;
}

.form-text {
  padding-top: 1vw;
}

input,
select,
button {
  width: 98%;
  font-size: 1.2vw;
  height: 3vw;
}

button {
  background-color: #414649;
  color: white;
  font-weight: 600;
  font-size: 2vw;
  border: none;
  letter-spacing: .3vw;
  margin-top: 2vw;
}

button:hover,
select:hover,
button:focus,
select:focus {
  transform: scale(1.05);
  cursor: pointer;
}

input:hover,
input:focus {
  transform: scale(1.05);
}

.show {
  color: red;
}

.hide {
  display: none;
}
