form {
  background-color: black;
  color: white;
  padding: 2vw;
  width: 45%;
  margin: auto;
}

.form-text {
  padding-top: 1vw;
}

input {
  width: 98%;
  font-size: 1.2vw;
  height: 3vw;
}

select {
  width: 98%;
  font-size: 1.2vw;
  border-radius: 0;
  height: 3vw;
}
