.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  background-color: black;
  background-image: url('../../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 80vw;
}
