.movie-card {
  background-color: #0B1E36;
  box-shadow: 15px 15px 15px #A6A6A6;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2vw;
  padding: 2vw;
  text-align: center;
}

.movie-title{
  margin: 1vw;
}

.view-characters-button {
  font-size: 1.4vw;
  width: 20vw;
}
