header {
  align-items: center;
  display: flex;
  padding-top: 5vw;
}

.header-black-box {
  background-color: #0B1E36;
  box-shadow: 15px 15px 15px #A6A6A6;
  color: #0B1E36;
  height: 4.2vw;
  width: 3%;
}

.death-star-container {
  align-items: center;
  background-color: #0B1E36;
  border-radius: 100%;
  box-shadow: 15px 15px 15px #A6A6A6;
  display: flex;
  height: 10vw;
  justify-content: flex-start;
  margin-left: -1vw;
  width: 10vw;
}

img {
  margin-left: 5%;
  width: 85%;
}

h1 {
  color: white;
  font-size: 3vw;
  letter-spacing: .3vw;
}

.heading-line {
  align-items: center;
  background-color: #0B1E36;
  box-shadow: 15px 15px 15px #A6A6A6;
  display: flex;
  justify-content: space-between;
  margin-left: -1vw;
  padding: .3vw;
  padding-left: 1vw;
  width: 90%;
}

.logout-button {
  font-size: 1.5vw;
  margin-right: 7vw;
  margin-top: 0;
}
